.chat-contact {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
}

.chat-contact--icon {
  padding: 0.505rem 0.75rem;
}

.chat-contact--element {
  padding: 10px 15px;
  list-style: none;
  border-radius: 5px;
}

.chat-contact--element:hover {
  background: #efefef;
  cursor: pointer;
}

.chat-contact--element.active {
  background: #efefef;
}

.chat-contact--name {
  font-size: 15px;
}

.chat-contact--image {
  width: 45px;
  border-radius: 50%;
  float: left;
}

.chat-contact--about {
  float: left;
  padding-left: 8px;
}

.chat-contact--status {
  color: #999;
  font-size: 13px;
}

.chat-contact--status.online .fa-circle {
  color: green;
}

.chat-contact--status.offline .fa-circle {
  color: red;
}

.chat-contact--status .fa-circle {
  width: 7px;
}

@media only screen and (max-width: 767px) {
  .chat-app .chat-contact {
    height: 465px;
    width: 100%;
    overflow-x: auto;
    background: #fff;
    left: -400px;
    display: none;
  }
  .chat-app .chat-contact.open {
    left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-contact--list {
      height: 650px;
      overflow-x: auto
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-contact--list {
      height: 480px;
      overflow-x: auto
  }
}